<!DOCTYPE html>
<html>
    
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content=""width=device-width, initial-scale=1">
        <title>Welcome to my Website</title>
        
    </head>

    <style>
        body{
                   background-image: url('NJ4g.gif');
                   background-attachment: fixed;
                   background-size: 100% 100%;
           }
           
    </style>

    <center> <div style="margin-top: 50px;">
        <a style ="color:gold;padding-right: 20px;" href="Home.html">Home</a>
        <a style="color:gold;padding-right: 20px;" href="about-me.html">About Me</a>
        <a style ="color:gold;padding-right: 20px;" href="Projects.html">Projects</a>
    </center>


    <body style="color:whitesmoke;"

    <main>
        <center> <div style="margin-top: 50px;"></div>
           <center> <h2 style="font-size:25px; text-allign:center;">Current Projects: </h2>
            <p style="font-size:25px; text-allign:center;">
                Bus Fare <br>
                Basic Calculator <br>
                FLAMES Game <br>
                Song Composition <br>
                Webinar Session </p>
                <h2 style="font-size:25px; text-allign:center; margin-top: 50px;"> Past Projects (Senior High): </h2>
            <p style="font-size:25px; text-allign:center;">
                <a style="color:gold;" href="https://scratch.mit.edu/projects/267526112/#player">Maze Game <br>
                <a style="color:gold;" href="https://scratch.mit.edu/projects/288605029/">Maze Game1 <br>
                <a style="color:gold;" href="https://scratch.mit.edu/projects/280875996/">Floppy Bird Game</a>  <br>
                <a style="color:gold;" href="https://scratch.mit.edu/projects/260544714/">Animated Lyrics Video </a> <br>
                Animation Advertisement</p>
    
                
                <div style="text-allign:center; margin-top: 50px;"> </div>
                <h2 style="font-size:25px; text-allign:center;">Contacts </h2>
                <p style="font-size:25px; text-allign:center;">For more inquries Feel free to contact me at</p>
                <h2 style="font-size:25px; text-allign:center;">zaspahannie16@gmail.com </h2>
                <a href="https://www.facebook.com/zaspa.hanniemarie" <img src="FB.png" </a>
                <center> <img src= "FB.png" height="50">
        </body>
    </html>